always-auth=true
auto-install-peers=true
registry = "https://registry.npmjs.org/"

@xbe-deploy:registry = "https://pkgs.dev.azure.com/uxbee/XBE.Deployment/_packaging/XBE.Deployment.Packages/npm/registry/"
; begin auth token
//pkgs.dev.azure.com/uxbee/XBE.Deployment/_packaging/XBE.Deployment.Packages/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/uxbee/XBE.Deployment/_packaging/XBE.Deployment.Packages/npm/registry/:_password=RHZQWmZUaTZ4WTFLYktEUWtVbFNqVzkyN2w4a2NtNE1kZWxqMEd2cEd4OXgwUWhMSUo1YUpRUUo5OUJBQUNBQUFBQTJ1YjBoQUFBU0FaRE9sbktq
//pkgs.dev.azure.com/uxbee/XBE.Deployment/_packaging/XBE.Deployment.Packages/npm/registry/:email=not-used@example.com
//pkgs.dev.azure.com/uxbee/XBE.Deployment/_packaging/XBE.Deployment.Packages/npm/:username=VssSessionToken
//pkgs.dev.azure.com/uxbee/XBE.Deployment/_packaging/XBE.Deployment.Packages/npm/:_password=RHZQWmZUaTZ4WTFLYktEUWtVbFNqVzkyN2w4a2NtNE1kZWxqMEd2cEd4OXgwUWhMSUo1YUpRUUo5OUJBQUNBQUFBQTJ1YjBoQUFBU0FaRE9sbktq
//pkgs.dev.azure.com/uxbee/XBE.Deployment/_packaging/XBE.Deployment.Packages/npm/:email=not-used@example.com
; end auth token
@uxbee:registry = "https://pkgs.dev.azure.com/uxbee/_packaging/uxbee-private.npm/npm/registry/"
; begin auth token
//pkgs.dev.azure.com/uxbee/_packaging/uxbee-private.npm/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/uxbee/_packaging/uxbee-private.npm/npm/registry/:_password=RHZQWmZUaTZ4WTFLYktEUWtVbFNqVzkyN2w4a2NtNE1kZWxqMEd2cEd4OXgwUWhMSUo1YUpRUUo5OUJBQUNBQUFBQTJ1YjBoQUFBU0FaRE9sbktq
//pkgs.dev.azure.com/uxbee/_packaging/uxbee-private.npm/npm/registry/:email=not-used@example.com
//pkgs.dev.azure.com/uxbee/_packaging/uxbee-private.npm/npm/:username=VssSessionToken
//pkgs.dev.azure.com/uxbee/_packaging/uxbee-private.npm/npm/:_password=RHZQWmZUaTZ4WTFLYktEUWtVbFNqVzkyN2w4a2NtNE1kZWxqMEd2cEd4OXgwUWhMSUo1YUpRUUo5OUJBQUNBQUFBQTJ1YjBoQUFBU0FaRE9sbktq
//pkgs.dev.azure.com/uxbee/_packaging/uxbee-private.npm/npm/:email=not-used@example.com
; end auth token